<h2 *ngIf="this.talk.talkId > 0; else elseBlock">Update Talk</h2>
<ng-template #elseBlock>Create Talk</ng-template>

<table>
    <tr>
        <td>
            <label>Topic</label>
        </td>
        <td>
            <input [disabled]="this.isNewSpeaker" class="input" type="text" [(ngModel)]="this.talk.topic" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Talk Date</label>
        </td>
        <td>
            <datetime 
                      [(ngModel)]="this.talk.talkDate"
                      [hasClearButton]="true"
                      [timepicker]="{ showMeridian: false, minuteStep: 1 }"
                      [datepicker]="dateSettings"
                      (ngModelChange)="onTalkDateSelect($event)"></datetime>
        </td>
    </tr>
    <tr>
        <td>
            <label>Additional Details</label>
        </td>
        <td>
            <input [disabled]="this.isNewSpeaker" class="input" type="text" [(ngModel)]="this.talk.additionalDetail" />
        </td>
    </tr>
    <tr>
        <td>
            <label>Discipline</label>
        </td>
        <td>
            <ng-select [allowClear]="true"
                       [items]="this.disciplineItems"
                       [active]="this.selectedDiscipline"
                       [disabled]="this.isNewSpeaker"
                       (selected)="onSelectDiscipline($event)"
                       (typed)="onTypedDiscipline($event)"
                       placeholder="No discipline selected">
            </ng-select>
        </td>
    </tr>
    <tr>
        <td>
            <label>Location</label>
        </td>
        <td>

            <ng-select [allowClear]="true"
                       [items]="this.locationItems"
                       [active]="this.selectedLocation"
                       [disabled]="this.isNewSpeaker"
                       (selected)="onSelectLocation($event)"
                       (typed)="onTypedLocation($event)"
                       placeholder="No location selected">
            </ng-select>
        </td>
    </tr>
    <tr>
        <td>
            <label>Speaker</label>
        </td>
        <td>
            <input [disabled]="true" class="input" type="text" [(ngModel)]="this.talk.speakerName" />

        </td>
        <td>
            <div *ngIf="!this.isNewSpeaker">
                <a (click)="onCreateNewSpeaker()">Create new speaker</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div *ngIf="this.isNewSpeaker">
                <upsert-speaker (notify)="onNotifyFromUpsertSpeaker($event)"></upsert-speaker>
            </div>
        </td>
    </tr>
    <tr>
        <td>

            <button [disabled]="this.isNewSpeaker" (click)="onSave()">Save Talk</button>

        </td>
    </tr>
</table>