body {
}

.label {
    font-weight: bold;
    color: black;
    font-size: 15pt;
}

.td--textalign-right {
    text-align: right;
}

.input {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.select {
    width: auto;
}

.select--width-full {
    width: 100%;
}

