<h2>Tech Talks</h2>

<table>
    <tr>
        <td>
            <label class="label">Discipline</label>
        </td>
        <td>
            <select class="select select--width-full" [(ngModel)]="this.talkFilterViewModel.disciplineName" (change)="onSelectDisciplineFilter($event.target.value)">
                <option *ngFor="let disciplineName of this.talkFilterViewModel.disciplineList" [value]="disciplineName">
                    {{ disciplineName }}
                </option>
            </select>
        </td>
        <td>
            <label class="label">Speaker</label>
        </td>
        <td>
            <input class="input" type="text" [(ngModel)]="this.talkFilterViewModel.speakerName" />
        </td>
    </tr>
    <tr>
        <td>
            <label class="label">Topic</label>
        </td>
        <td>
            <input class="input" type="text" [(ngModel)]="this.talkFilterViewModel.topic" />
        </td>
        <td>

            <label class="label">Date From</label>

        <td>
            <datetime [(ngModel)]="this.talkFilterViewModel.dateFrom" 
                      [hasClearButton]="true"
                      [timepicker]="{ showMeridian: false, minuteStep: 1 }" 
                      [datepicker]="dateFromSettings"
                      (ngModelChange)="onDateFromSelect($event)"
                      ></datetime>
        </td>
    </tr>

    <tr>
        <td>

            <label class="label">Location</label>

        </td>
        <td>
            <select class="select select--width-full" [(ngModel)]="this.talkFilterViewModel.locationName" (change)="onSelectLocationFilter($event.target.value)">
                <option *ngFor="let locationName of this.talkFilterViewModel.locationList" [value]="locationName">
                    {{ locationName }}
                </option>
            </select>
        </td>
        <td>

            <label class="label">Date To</label>

        </td>
        <td>
            <datetime [(ngModel)]="this.talkFilterViewModel.dateTo"
                      [hasClearButton]="true"
                      [timepicker]="{ showMeridian: false, minuteStep: 1 }"
                      [datepicker]="dateToSettings"
                      (ngModelChange)="onDateToSelect($event)"></datetime>
        </td>
    </tr>


    <tr>
        <td class="td--textalign-right" colspan = "4">
            <div>
                <button (click)="onSearch()">Search</button>
            </div>
        </td>
    </tr>

    <tr>
        <td class="td--textalign-right" colspan = "4">
            <label class="label">Rows per page</label>
       
            <select class="select" [(ngModel)]="this.rowsPerPage" (change)="onSelectRowsPerPage($event.target.value)">
                <option *ngFor="let rowsPerPage of this.possibleRowsPerPage" [value]="rowsPerPage">
                    {{ rowsPerPage }}
                </option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan = "4">
            <ng2-smart-table *ngIf="source" [settings]="talkSettings" [source]="source">Loading....</ng2-smart-table>
        </td>
    </tr>
</table>

