<h2 class="h2">Tech Talks</h2>
<table>
    <tr>
        <td>
            <label class="label">Discipline</label>
        </td>
        <td>
            <ng-select [allowClear]="true"
                       [items]="this.disciplineFilterItems"
                       (selected)="onSelectDisciplineFilter($event)"
                       placeholder="No discipline selected">
            </ng-select>

        </td>
        <td>
            <label class="label">Speaker</label>
        </td>
        <td>
            <input class="input" type="text" [(ngModel)]="this.selectedTalkFilterViewModel.speakerName" />
        </td>
    </tr>
    <tr>
        <td>
            <label class="label">Topic</label>
        </td>
        <td>
            <input class="input" type="text" [(ngModel)]="this.selectedTalkFilterViewModel.topic" />
        </td>
        <td>

            <label class="label">Date From</label>

        <td>
            <datetime [(ngModel)]="this.selectedTalkFilterViewModel.dateFrom"
                      [hasClearButton]="true"
                      [timepicker]="{ showMeridian: false, minuteStep: 1 }"
                      [datepicker]="dateFromSettings"
                      (ngModelChange)="onDateFromSelect($event)" ></datetime>
        </td>
    </tr>

    <tr>
        <td>

            <label class="label">Location</label>

        </td>
        <td>
            <ng-select [allowClear]="true"
                       [items]="this.locationFilterItems"
                       (selected)="onSelectLocationFilter($event)"
                       placeholder="No location selected">
            </ng-select>
        </td>
        <td>

            <label class="label">Date To</label>

        </td>
        <td>
            <datetime [(ngModel)]="this.selectedTalkFilterViewModel.dateTo"
                      [hasClearButton]="true"
                      [timepicker]="{ showMeridian: false, minuteStep: 5, showSeconds:false }"
                      [datepicker]="dateToSettings"
                      (ngModelChange)="onDateToSelect($event)"></datetime>
        </td>
    </tr>


    <tr>
        <td class="td--textalign-right" colspan="4">
            <div>
                <button (click)="onSearch()">Search</button>
            </div>
        </td>
    </tr>

    <tr>
        <td  colspan="2">
            <button (click)="onAddNewTalk()">Add new talk</button>
        </td>
        <td class="td--textalign-right" colspan="2">
            <label class="label">Rows per page</label>

            <select class="select" [(ngModel)]="this.rowsPerPage" (change)="onSelectRowsPerPage($event.target.value)">
                <option *ngFor="let rowsPerPage of this.possibleRowsPerPage" [value]="rowsPerPage">
                    {{ rowsPerPage }}
                </option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <ng2-smart-table *ngIf="source"
                             [settings]="talkSettings"
                             [source]="source"
                             (custom)="onCustomEditTalk($event)"
                             (deleteConfirm)="onDeleteTalk($event)">Loading....</ng2-smart-table>
        </td>
    </tr>
</table>

